*{
    margin: 0;
    padding: 0;
}
.main-container{
    background-color: black;
    color: white;
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.logo-photo{
    width: 120px;
}
.manus{
    display: flex;
    
}
.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 18px;
}
.item:hover{
    color: blue;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 100vh;
    align-items: center;
    background-image: url("../images/background.png"),linear-gradient(45deg,black,black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;

}.btn:hover{
    color: blue;
}
.about-container{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutus-img{
    width: 300px;
}
.about-title{
    padding: 20px;
    text-align: center;
}

.service-container{
    /* background-color: black; */
    /* display: flex; */
}
.box1{
    border-top: 10px gray;
    border-left: 10px gray;
    width: 250px;
    height: 280px;
    box-shadow: 5px 5px 15px gray;
    background-color: black;
    padding: 15px;
    color: white;
    
}
.boximg1{
    width: 70px;
    /* align-items: center; */
    /* align-content: center; */
    /* box-shadow: 4px 4px 15px gray; */
}
#box-btn{
    background-color: gray;
    margin-top: 10px;
    /* align-items: center; */
}
.box-title{
    padding: 10px;

}
.box-description{
    padding: 5px;
}
.service-container{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    

}
.hr{
    color: red;
}
.ending-footer{
    text-align: center;
}
